*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
docs/Manifest.toml
docs/build/
data/ecoli_test/ecoli_test_results/
data/param_test/
**/.DS_Store
test/data/ecoli_test/ecoli_test_results
data/ecoli_test/
data/convert_test/
PioneerApp/
/build/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc

# Profiling data
*.pb.gz

# Plot images in repo root
/p_*.png
